.operador-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.reset-button {
  margin: 10px 0 20px 0;
  padding: 10px 20px;
  background-color: #bf2626;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  text-align: left;
}

.reset-button:hover {
  background-color: #73061a;
}

.painel-senhas {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1100px !important;
}
