.formulario-senha {
    margin: 20px 0;
  }
  
  .formulario-senha label {
    margin-right: 10px;
  }
  
  .formulario-senha select {
    margin-right: 10px;
  }

  .formulario-senha label input{
    margin: 25px 25px 25px 0px;
    font-size: 20px;
  }
  