.formulario-senha {
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 60%;
  background: #fff;
  text-align: center;
  padding:20px;
}

.formulario-senha label {
  /* margin: 20px; */
  margin-bottom: 20px;
  font-size: 25px;
}

.formulario-senha select {
  /* margin: 20px; */
  margin-bottom: 20px;
  font-size: 20px;
  cursor: pointer;
}

.formulario-senha button {
  /* margin: 20px; */
  margin-bottom: 20px;
  font-size: 20px;
  cursor: pointer;
}